
.coin-name {
  margin: 0 0 0 10px;
  padding: 0;
}

.name-container{
  display:flex;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  align-items: center;
}

.coin-container {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  box-shadow: -2px 5px 10px -3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 250ms;
}

.coin-container:hover {
  transform: scale(1.05);
}

.coin-img {
  width: 14%;
  height: fit-content;
}
