<app-popup>
  <div class="action-bar">
    <app-search-bar (onSearch)="onSearch($event)" class="coin-search"></app-search-bar>
    <button mat-stroked-button [disabled]="!canAdd" (click)="onAdd()">Add</button>
  </div>
  <mat-action-list class="coin-list">
    <mat-list-item
      *ngFor="let coin of coins"
      class="coin-item"
      [ngClass]="{'selected': isSelected(coin)}"
      (click)="onCoinSelected(coin)"
    >
      <span *ngIf="isSelected(coin)" class="coin-num">{{ selectedIndex(coin) + 1 }}</span>
      <img [src]="coin.image" [alt]="coin.name + 'logo'" class="coin-logo" />
      {{ coin.name }}
    </mat-list-item>
  </mat-action-list>
</app-popup>
