button {
  height: fit-content;
  margin-left: 20px;
}

.coin-list {
  max-height: 80%;
  overflow: auto;
}

.coin-item {
  border-bottom: 1px solid grey;
}

.coin-num {
  background: #d81b60;
  color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-right: 25px;
  border-radius: 25px;
  text-align: center;
}

.coin-logo {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}

.selected {
  background-color: #e0e0e0;
}

.selected:hover {
  background-color: #e0e0e0;
}

.action-bar {
  display: flex;
}

.coin-search {
  flex: 2;
}


