.search-icon {
  color: grey;
}

.search-bar {
  display: flex;
  cursor: pointer;
  background: rgb(225, 225, 225);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid rgb(225, 225, 225);
  transition: background-color 150ms, box-shadow 150ms, border 150ms;
}

#search-bar-input {
  background: transparent;
  outline: none;
  width: 100%;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.search-bar:focus-within   {
  background: white;
  box-shadow: 0 15px 15px -3px rgba(0,0,0,0.1);
  border: 2px solid royalblue;
}

.search-bar:focus-within .search-icon {
  color: royalblue;
}
