app-search-bar {
  flex: 1;
  margin: 0 10px;
}

.coin-list-nav {
  display: flex;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  padding :10px 5px  5px;
  justify-content: space-between;
  z-index: 2;
}

.container {
  height: 92%;
  margin-top: 50px;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 15px;
  padding: 10px 20px 15px;
  max-height: 100%;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 10px 15px 15px;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px 15px 15px;
  }
}
