.container {
  width: 80%;
  margin: auto;
}

.grid-container {
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 15px;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 95%;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
