.container {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 15px;
  padding: 10px 20px 15px;
  max-height: 90%;
  overflow: auto;
}

app-search-bar {
  display: block;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.popup-btn {
  position: absolute;
  top: 10px;
  z-index: 3;
  right: 5px;
}

@media only screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    padding: 10px 15px 15px;
  }
}

@media only screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
    padding: 10px 15px 15px;
  }
}
