<mat-tab-group *ngIf="showContent">
  <mat-tab label="Percentage Chart">
    <ng-template mat-tab-label>
      Percentage Chart
      <mat-icon class="tab-label-icon">percentage</mat-icon>
    </ng-template>
    <app-chart [data]="percentageChangeObserver"></app-chart>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Price Chart
      <mat-icon class="tab-label-icon">euro</mat-icon>
    </ng-template>
    <app-chart [data]="priceChangeObserver"></app-chart>
  </mat-tab>
</mat-tab-group>
<app-spinner *ngIf="!showContent"></app-spinner>
