.group-grid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 10px 15px;
  max-height: 90%;
  padding: 10px 15px;
  max-width: 100%;
  overflow: auto;
  margin: 50px auto auto;
  text-align: center;
}

.zero-elements {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #29434e;
  width: 100%;
  text-align: center;
}

.group-list-nav {
  display: flex;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  padding :10px 5px  5px;
  justify-content: space-between;
  z-index: 2;
}

.group-list-nav span {
}

app-search-bar {
  flex: 1;
  margin: 0 10px;
}

@media only screen and (max-width: 1024px) {
  .group-grid {
    grid-template-columns: 49% 49%;
  }
}

@media only screen and (max-width: 480px) {
  .group-grid {
    grid-template-columns: 100%;
  }
}
