h4 {
  margin: 0;
}
.trade-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px 2px;
}
