<app-popup>
  <div class="container">
    <section class="percent-calc">
      <h2>Calculate Percentage for</h2>
      <mat-button-toggle-group (change)="onPercentageChange($event)" [value]="defaultPercentPeriod" >
        <mat-button-toggle value="now">
          <span class="option-name">Now</span>
        </mat-button-toggle>
        <mat-button-toggle
          *ngFor="let option of options"
          [value]="option">
          <span class="option-name">{{ option }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>
    <section class="period">
      <h2>Period of time</h2>
      <mat-button-toggle-group (change)="onPeriodChange($event)" [value]="defaultTimePeriod">
        <mat-button-toggle
          *ngFor="let option of options"
          [value]="option">
          <span class="option-name">{{ option }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
</app-popup>
